body {
  background-color: #eeeeee;
  margin-bottom: 60px;
}

#app {
  height: 100%
}

.auto-height {
  height: auto;
  min-height: 100%;
}
     
.thumbnail{
  height:350px;
  width:100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/* Bike Upload */

.upload-bike {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

.upload-bike-btn {
  width: 60px;
  height: 60px;
}

.






/* Color Schemes */

.white{
  color:white;
}

.mellow-yellow {
  background: #F8E9A1;
}

.melon-red {
  background: #F76C6C;
}

.pale-blue {
  background: #A8D0E6;
}

.purpleish-blue {
  background: #374785;
}

.dark-blue {
  background: #24305E;
}

.minty-green {
  background: #7DCCBE;
}

.light-red-not-pink {
  background: #FBBFCA;
}


/* Navigation Bar CSS */
nav .navbar-nav li a{
  color: white !important;
  }
  
nav .navbar-nav li a:hover{
  color: yellow !important;
  }
  
.dropdown-item:hover {
   background-color: #374785;
}  

/* Bike Card CSS */
.card a.text-light:hover {
  color: #FAF0E6 !important;
  text-decoration: none !important
}

.vertical-line {  
border-left: 1px solid Gainsboro;
}

@media(max-width:990px){
.vertical-line {  
  border-left: hidden;
  }
}

.bottom-buttons {
  bottom: -20px;
  left: 30px;
  position: absolute;
}

.int-buttons {
  height: 45px;
  width: 45px;
}

.bike-icon {
  width: 65px;
  height: 65px;
}

.phatbike {
  background-image: url("https://cdn0.iconfinder.com/data/icons/types-of-bicycles/512/Fat_bike-64.png");
  
}

.touring-bike {
  background-image: url(https://cdn3.iconfinder.com/data/icons/bikecons/512/bikecons_touring-64.png);
}

.cyclocross {
  background-image: url(https://cdn2.iconfinder.com/data/icons/bicycle-types/625/bicycle_cyclo_cross_cx-64.png);
}

/* Comment CSS */

be-comment-block { margin-bottom: 50px !important; border: 1px solid #edeff2; border-radius: 2px; padding: 50px 70px; }
@media screen and (max-width: 767px) { .be-comment-block { padding: 15px; padding-bottom: 30px; } }
.be-comment-content { margin-left: 80px; }
.be-comment-content { margin-left: 80px; }

.be-img-comment { width: 60px; height: 60px; float: left; margin-bottom: 15px; }

.be-comment-content { margin-left: 80px; }

.comments-title { font-size: 16px; color: #262626; margin-bottom: 15px; font-family: 'Conv_helveticaneuecyr-bold'; }

.about-comment-block { font-size: 12px; color: #b4b7c1; margin-bottom: 50px; }

.be-signup-link { color: #0d58c8 !important; margin: 0 2px; font-family: 'Conv_helveticaneuecyr-bold'; font-size: 10px; }

.be-signup-link:hover { color: #0d58c8 !important; }

.be-comment-name { font-size: 13px; font-family: 'Conv_helveticaneuecyr-bold'; }

.be-comment-time { font-size: 11px; color: #b4b7c1; }

.be-comment-text { font-size: 13px; line-height: 18px; color: #7a8192; display: block; background: #f6f6f7; border: 1px solid #edeff2; padding: 15px 20px 20px 20px; }

.be-comment-content span { display: inline-block; width: 49%; margin-bottom: 15px; }

.be-comment-content a { color: #383b43; }

.be-comment-content a:hover { color: #0D58C8; }

.be-comment-time { text-align: right; }

.be-comment-info { margin-bottom: 15px; }

.be-ava-comment { width: 60px; height: 60px; border-radius: 50%; }

@media screen and (max-width: 767px) { .be-comment-content { margin: 0; }
  .be-comment-content span { width: 100%; text-align: center; display: block; }
  .be-img-comment { width: 100%; text-align: center; } }

.be-comment-time .fa { font-size: 18px; transform: translateY(2px); -webkit-transform: translateY(2px); -moz-transform: translateY(2px); -ms-transform: translateY(2px); margin-right: 8px; }

.be-comment:not(:last-child) { margin-bottom: 30px; }

/* Picture Upload */
.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
