                        <form>
                             <div class="form-group">
                                <label class="col-form-label">Title:</label>
                                <input id="title" v-model="title" type="text" class="form-control" placeholder="">
                              </div>
                             <div class="form-group">
                                <label class="col-form-label">Description:</label>
                                <input id="description" v-model="description" type="text" class="form-control" placeholder="">
                              </div>
                             <div class="form-group">
                                <label class="col-form-label">Image URL:</label>
                                <input id="image" v-model="image" type="text" class="form-control" placeholder="">
                              </div>
                              <div class="form-group">
                                <label class="col-form-label">Tags:</label>
                                <input id="tags" v-model="tags" type="text" class="form-control" placeholder="">
                              </div>
                              <div class="form-group form-check-inline">
                              
                                <input v-model="category" type="radio" class="form-control" value="touring-bike">
                                <label>Touring Bike</label>
                                
                                <input v-model="category" type="radio" class="form-control" value="phatbike">
                                <label>Phat Bike</label>
                                
                                <input v-model="category" type="radio" class="form-control" value="cyclocross">
                                <label>Cyclocross</label>
                                
                              </div>
                              <div class="form-group">
                                <button type="button" class="btn btn-primary" @click="addBike">Submit</button>
                              </div>
                        </form>